@tailwind base;
@tailwind components;
@tailwind utilities;

.socials{
  display:flex;
}
.nav{
  display:flex;
  justify-content: center;
  margin-top:10%;
}

.name{
  margin-top: 20%;
  font-size: 36px;
}

.body{
  margin-left: 20%;
  margin-right: 20%;

}

.navbot{
  margin-left: 2%;
  margin-right: 2%;
  padding-bottom: 1%;
}

#projects{
  border-bottom: 3px solid #f4ae53;
}

#home{
  border-bottom: 3px solid #f4ae53;
}
#skills{
  border-bottom: 3px solid #f4ae53;
}

.skillcomp{
  border: 3px solid #FF3364;
  border-radius: 20px;
  width: 60%;
  height: 25%;
  margin-left:20%;
  margin-bottom: 10%;
  padding: 10%;
}

.body1{
  display:block;
  background-color: rgb(0, 0, 0);

}

.title{
  text-align: center;
  font-size: 32px;
}

.skillcomp h2{
  font-size: 24px;
  font-weight: 500;

}

.skillcomp p{
  color: rgb(152, 152, 153);
}

.projectcomp{
  border: 3px solid #52BECC;
  border-radius: 20px;
  width: 60%;
  height: 25%;
  margin-left:20%;
  margin-bottom: 10%;
  padding: 10%;
}

.projectcomp h1{
  font-size: 24px;
  font-weight: 500;
}

.projectcomp p{
  color: rgb(152, 152, 153);
}

html{
  background-color: rgb(0, 0, 0);
}

body{
  background-color: rgb(0, 0, 0);
}

